.qualification__container{
    max-width: 768px;
}

.qualification__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
    position: relative; /* Added for positioning the horizontal line */
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
    position: relative; /* Added for positioning */
    padding-bottom: 10px; /* Space for the horizontal line */
}

/* .qualification__button:hover{
    color: var(--title-color-dark);
} */

.qualification__button:hover{
    color: #b3b3b3;  
}


.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

/* .qualification__active{
    color: var(--title-color-dark);
} */

.qualification__active{
    color: black;
}

.dark-mode .qualification__active{
    color: white;
}

.qualification__sections{
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualification__content{
    display: none;
}

.qualification__content-active{
    display: block;
}

.qualification__data{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualification__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calender{
    font-size: var(--small-font-size);
}

.qualification__rounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}


.qualification__line{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}


/* Breakpoint */
/* for large device */
@media screen and (max-width: 992px) {
    .qualification__container{
        margin-left: auto;
        margin-right: auto;
    }
  }
  
  /* for medium device */
  @media screen and (max-width: 768px) {
     .qualification__container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
     }
  }
  
  @media screen and (max-width: 576px) {
    .qualification__sections{
        grid-template-columns: initial;
    }

    .qualification__button{
        margin: 0 var(--mb-0-75);
    }
  }
  
  /* for small device */
  @media screen and (max-width: 350px) {
    .qualification__data{
        gap: 0.5rem;
    }
  }
  

 /* New styles for the horizontal line */
.qualification__hr {
    border: 0;
    border-top: 2px solid black;
    width: 150px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}

.dark-mode .qualification__hr{
    border: 0;
    border-top: 2px solid var(--title-color-dark);
    width: 150px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease;
}